body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

.user-info {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.profile-details p {
    margin: 10px 0;
}

#edit-profile-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}


@media (max-width: 768px) {
    .logo {
        font-size: 20px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    main {
        padding: 10px;
    }

    .user-info {
        padding: 10px;
    }

    #edit-profile-button {
        padding: 8px 16px;
    }

    footer {
        font-size: 14px;
    }
}